@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); 

html, body {
    margin: 0;
    font-family: 'Zilla Slab', serif; 
    color: white;
}
header, section, article, div, footer, ul, li, video, div, h1, h2, h3, h4, p, a, img {
    margin: 0;
    padding: 0;
}

/*Start Top Navigation*/

.Header-Logo {
    width: auto;
    display: flex;
    float: left;
}
.TopNav {
    font-size: 24px;
    font-weight: bold;
    background-color:#830B00;
    overflow: hidden;
  }
  .TopNav a {
    text-align: center;
    text-decoration: none;
  }
  .TopNav a:hover {
    color:  #FAF04B;
  }
  .TopNav a.active {
    color: #FAF04B;
  }
  li {
      float: left;
      margin-left: 20%;
      line-height: 100px;
  }

/*Slut Top Navigation*/
img {
    width: 100vw;
}
h1, h2, h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
h3 {
    font-weight: normal;
    margin: 0 0 2% 0;
}
p {
    font-size: 16px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}
footer {
    padding: 2vw;
}
adress a {
    font-weight: bold;
}
/* Grid */
.container {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1vw;
    align-content: center;
    justify-content: center;
}

/* Utility */
/* Background */
.ut-Main-BG { 
    background-image: url("/assets/images/pinetree.jpg");
}
/* Colors */
.ut-Color_Gold {color: #FAF04B;}
.ut-Color_Green {color: #195942;}
.ut-Color_DarkRed {color: #401317;}
.ut-Color_Red {color: #830B00;}

.ut-Color-BG_Red {
    background-color: #830B00;
}
/* Placering */
.ut-Position_FloatLeft {float: left;}
.ut-Position_FloatRight {float: right;}
.ut-Position_ClearBoth {clear: both;}
/* Indholdskasser */
.ut-Container_DarkRed {
    background-color: #401317;
    opacity: 35%;
    padding: 1vw 5vw 3vw 5vw;
}
.ut-Container-Li_Margin {
    margin: 1vw;
} 

/* Index */


/* Video/Hero */
.ix-Hero_Video {
    text-align: center;
    width: 100%;
}
.ix-Video {
    width: 100%;
}
/* Footer v2 */
.ft-Logo {
    width: 100%;
}
.ft-Position_Flex {
    display: flex;
    vertical-align: row;
    justify-content: space-between;
}
.ft-Logo_Social {
    margin: 5px;
    width: 65px;
    height: auto;
}
.ft-Tlf::before {
    content: "Tlf:";
}
/* Footer */
/* footer{ 
    display: flex; 
    flex-direction: row; 
    width: 100vw; 
    background-color: #830B00; 
    color: white; 
    font-weight: normal; 
} 

.ft-aalogo{ 
    width: 30vw; 
} 

address{ 
    font-style: none; 
    height: 10vh; 
    padding: 1vw; 
    vertical-align: text-bottom; 
} 

.address_ul{ 
    list-style-type: none; 
    text-decoration: none; 
    padding: 0; 
    margin: 0; 
} 



.ft-left{ 
    display: inline-block; 
    width: 50vw; 
} 

.ft-right{ 
    display: inline-block; 
    width: 50vw; 
} 

.ft-logo{ 
    display: inline-block; 
    width: auto; 
    height: 5vh; 
    padding: 1%; 
} 

.ft-soMe.row{ 
    display: flex; 
    flex-direction: row; 
    border: 5px solid hotpink; 
    width: 50vw; 
    background-color: hotpink; 
} 

.iconbox{ 
    display: inline-block; 
    padding: 1vh 2vh 2vh 0; 
} 

.ft-link{ 
    color: white; 
}  */