@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); 

html, body {
    margin: 0;
    font-family: 'Zilla Slab', serif; 
}
header, section, article, div, footer, ul, li, video, div {
    margin: 0;
    padding: 0;
}


/* Grid */
.container {
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-areas: 
    "nav"
    "hero"
    "main"
    "footer"; */
    align-content: center;
    justify-content: center;
}

/* Utility */
/* Colors */
.ut-Color_Gold {
    color: #e6B32B;
}
.ut-Color_LightGold {
    color: #F0C255;
}
.ut-Color_Red {
    color: #d9180B;
}
.ut-Color_LightRed {
    color: #F0523F;
}
/* Index */
/* Video/Hero */
.ix-Hero_Video {
    text-align: center;
    width: 100%;
}
.ix-Video {
    width: 100%;
}