@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); 

html, body {
    margin: 0;
    font-family: 'Zilla Slab', serif; 
    color: white;
}
header, section, article, div, footer, ul, li, video, div, h1, h2, h3, h4, p, a, img {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

img {
    width: 100%;
}
h1, h2, h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 2% 0;
}
h3 {
    font-weight: normal;
    
}
p {
    font-size: 16px;
    line-height: 22px;
}
footer {
    padding: 2vw;
}
/* Links */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:link, a:visited {
    color: white;
}
a:hover {color: #FAF04B;}
li:active {
    transform: scale(0.95,0.95);
}


/* Grid */
.container {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-content: center;
}

/* Utility */
/* Background */
.ut-Main-BG { 
    background-image: url('../images/pinetree750_1300-15quality.jpg');
    background-position: top;
    background-repeat: repeat-y;
}
/* Colors */
.ut-Color_Gold {color: #FAF04B;}
.ut-Color_Green {color: #195942;}
.ut-Color_DarkRed {color: #401317;}
.ut-Color_Red {color: #830B00;}

.ut-Color-BG_Red {
    background-color: #830B00;
}
.ut-Color-BG_Gold {
    background-color: #FAF04B;
}
/* Placering */
.ut-Position_FloatLeft  {float: left;}
.ut-Position_FloatRight {float: right;}
.ut-Position_ClearBoth  {clear: both;}
.ut-Position-Margin_Top {margin: 5vw 0;}
/* Indholdskasser */
.ut-Container_DarkRed {
    background-color: rgba(64, 19, 23, 0.7);
    padding: 1vw 5vw 3vw 5vw;
}
.ut-Para_Max {
    max-width: 600px;
    margin: auto;
}
.ut-Container-Li_Margin {
    margin: 1vw;
} 
.ut-Logo {
    width: 40vw;
}
/* Navigation */
.nav-Top {
    height: 20vw;
}
.nav-Bar-Li {
    font-size: 4vw;
    font-weight: bold;
    line-height: 30px;
    margin: 1vw;
}
.nav-Bar-Flex_Ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-Bar-Flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Index */
/* Video/Hero */
.Billet {
    position: absolute;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-left: 45%;
    margin-top: 27%;
    padding: 1%;
    /* Note, justere placering med Top/Left */
}
.ix-Hero_Video {
    text-align: center;
    width: 100%;
}
.ix-Video {
    width: 100%; 
}
.ix-Video_Desk {
    display: none;
}

/* Footer v2 */
.ft-Position_Flex {
    display: flex;
    vertical-align: row;
    justify-content: space-between;
}
.ft-Logo_Social {
    margin: 1px 0 1px 1px;
    width: 15vw;
    height: auto;
}
.ft-Tlf::before {
    content: "Tlf:";
}

@media screen and (min-width: 751px){
    h1, h2, h3 {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin: 0 0 2% 0;
    }
    p {
        font-size: 18px;
        line-height: 27px;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "navtop navtop"
        "herovideo herovideo"
        "ixmain ixmain"
        "footer footer";
    }
    .ix-Area_Hero {
        grid-area: herovideo;
    }
    .ix-Area_Main {
        grid-area: ixmain;
    }
    .ut-Area_Footer {
        grid-area: footer;
    }
    .nav-Top {
            height: 5vw;
            grid-area: navtop;
        }

    .ix-Video_Mobil {
        display: none;
    }
    .ix-Video_Desk {
        display: block;
    }
    
    .ut-Main-BG {
        background-image: url(../images/pinetree1920_1080-15quality.jpg);
    }


    .ut-Logo {
        width: 10vw;
    }
    
    .nav-Bar-Li {
        font-size: 1vw;
        font-weight: bold;
        line-height: 30px;
    }
    .nav-Bar-Flex_Ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-Bar-Flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .ix-Position-Flex_Main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ut-Para_Desk {
        width: 1fr;
    }
    .ut-Para_Img {
        width: 50%;
    }
    .ut-Para-Jul_Desk {
        width: 100vw;
    }
    .ut-Position-Margin_Top {
        margin: 0;
    }
}